/* color de fondo de pagina */
body{
    background: linear-gradient(to left, #8d93d6 ,#252c81, #000);
}
/* Header */
.logo{
    margin-left: 5px;
    width: 20%;
    height: 130px;
}
.carrito{
    width: 100px;
    height: 100px;
}
/* fondo de color de apartado */
.inicio{
    border-radius: 2px;
    background-color: #000000;
    padding: 10px;
}

.nav{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 150px;
    background-color: #1A237E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.contacto{
    margin-right: 22px;
}
.nav .card:hover{
    background-color: #64B5F6;
}

/* seccion principal ofertas y descuentos */
    /* titulo */
    .container-title{
        width: 25%;
        height: auto;
        background-color: #64B5F6;
        margin: 0 auto;
        color: #ffffff;
        background-color: #1A237E;;
        font-family: sans-serif;
        font-size: 35px;
        padding: 0px 35px 0px 35px;
    }
        .containerPadreOfertas{
            margin-top: 15px;
            background-color: rgb(190, 219, 245);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: auto;
        }
        /* Ofertas */
        .container-item{
            background-color: #fcfcfc;
            text-align: center;
            height: auto;
            width: 25%;
            margin: 15px;
            border: 2px solid #252c81;
            cursor: pointer;
        }
        /* hover para enlazar directamente al producto */
        .container-item:hover{
            background-color: rgb(210, 213, 255);
        }
        /* precio actual con descuento incluido */
            .container-item>p , .descuento{
                color: rgb(0, 22, 70);
                font-size: 25px;
                font-family: poppins;
            }
        /* Precio sin Descuento (tachado) */
        .s-descuento{
            text-decoration: line-through;
        }

        /* span con el % de descuento */
            /* fuente de letra descuento */
            @font-face {
                font-family: poppins;
                src: url(../fuentes/Fuentes/poppins/Poppins-SemiBold.ttf);
            }
            .porcentaje{
                font-size: 20px;
                padding: 10px;
                background-color: rgb(255, 255, 255);
                color: red;
                font-family: poppins;
                border: 1px solid red;
                border-radius: 2px;            
            }
            /* descripcion producto */
            .container-item>p.descripcion{
                color: rgb(0, 0, 0);
                text-align: center;
                font-family: sans-serif;
            }
/* seccion de descuentos */
    /* contenedor titulo descuento */
            .contenedor-title{
                width: 40%;
                height: auto;
                margin: 0 auto;
                color: #ffffff;
                background-color: #1A237E;;
                font-family: sans-serif;
                font-size: 35px;
                text-align: center;
                justify-content: center;
                padding: 0px 35px 0px 35px;
            }
    /* contenedor padre de los items de descuentos */
        .containerPadreDescuentos{
            display: flex;
            flex-direction: row;
            background-color: #fcfcfc;
            padding: 35px;
            justify-content: space-evenly;
        }
        /* imagenes medios de pago */
            .container-itemDescuento>img{
                width: 200px;
                height: auto;
            }
        /* items */
            .container-itemDescuento{
                margin-left: 10px;
                width: 30%;
                height: auto;
                text-align: center;
                border: 2px solid #000;
                padding: 5px;
            }
        /* fecha */
            .container-itemDescuento>.fecha{
                color: #a0a0a0;
                font-size: 20px;
                font-family: sans-serif;
            }
        /* descuento jubilados */
            .container-itemDescuento>.aplica{
                font-size: 16px;
                font-weight: bold;
                font-family: sans-serif;
            }
        /* tipo de pago */
        .container-itemDescuento>.pago{
            font-size: 16px;
            font-weight: 500;
            font-family: sans-serif;
        }
        /* texto (descuento) en rojo  */
            .container-itemDescuento>.rojo{
                color: red;
                font-family: sans-serif;
                font-weight: bold;
                font-size: 18px;
            }
            /* span agrandar Numero de descuento */
                .container-itemDescuento>.rojo>.numDescuento{
                    font-size: 25px;
                }
    /* footer */
        /* container footer */ 
            .container-footer{
                margin-top: 10px;
                background-color: #a0a0a0;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            /* copyright */
            .container-footer>.copyright{
                font-size: 22px;
                font-family: sans-serif;
            }
            /* texto redes sociales */
            .container-footer>.redes{
                font-size: 22px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 500;
            }
            /* contenedor de iconos de redes sociales */
            .container-footer>.container-icons{
                width: 20%;
                display: flex;
                margin: 0 auto;
                gap: 10px;
                padding: 20px;
                justify-content: space-evenly;
                color: #FFFFFF;
                font-size: 40px;
            }
            /* instagram */
            .fa-instagram{
                background-color: #ff00f2;
                padding: 20px;
                border-radius: 50px;
            }
            /* facebook */
            .fa-facebook{
                background-color: blue;
                padding: 20px;
                border-radius: 50px;
            }
            /* youtube */
            .fa-youtube{
                background-color: red;
                padding: 20px;
                border-radius: 50px;
            }
            .fab:hover{
                transform: scale(1.1);
            }


