/* color de fondo de pagina */
body{
    background: linear-gradient(to left, #8d93d6 ,#252c81, #000);
}
/* encabezado(header) */
    /* imagen logo supermercado */
        .logo{
            margin-left: 5px;
            width: 20%;
            height: 130px;
        }
    /* imagen carrito Nav*/
        .carrito{
            width: 100px;
            height: 100px;
        }
    /* nav (enlaces de Navegación ) */
        .nav{
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 0;
            width: 100%;
            height: 150px;
            background-color: #1A237E;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
    /* estilos de los enlaces (a) */
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
    /* apartado Contacto */
        .contacto{
            margin-right: 22px;
        }
    /* propiedad hover(resaltar botón) */
        .nav .card:hover{
            background-color: #64B5F6;
        }
/**/
    /* Forms */
        /* Contenedor Principal */
        
    .contenedor{
        margin: 0 auto;
        background-color: #FFFFFF;
        border: 1px solid #dddddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 80%;
    }
    
    .contact-form{
        display: flex;
        flex-direction: column;
    }
    .form{
        margin-bottom: 10px;
    }
    .form>label{
        display: flex;
        align-items: center;
        background-color: #ffae00;
        border: 1px solid #dddddd;
        border-radius: 4px;
        padding: 10px;
    }
    .form .icon{
        margin-right: 10px;
        color: #FFFFFF;
        background-color: #ffb400;
    }
    .form input, .form .textarea{
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 16px;
        background-color: transparent;
    }
    .form .textarea{
        resize: none;
        height: 100px;
    }
