/* color de fondo de pagina */
body{
    background-color: rgb(158, 158, 158);
}
/* encabezado(header) */
    /* imagen logo supermercado */
        .logo{
            margin-left: 5px;
            width: 20%;
            height: 130px;
        }
    /* imagen carrito Nav*/
        .carrito{
            width: 100px;
            height: 100px;
        }
    /* nav (enlaces de Navegación ) */
        .nav{
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 0;
            width: 100%;
            height: 150px;
            background-color: #1A237E;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
    /* estilos de los enlaces (a) */
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
    /* apartado Contacto */
        .contacto{
            margin-right: 22px;
        }
    /* propiedad hover(resaltar botón) */
        .nav .card:hover{
            background-color: #64B5F6;
        }
/**/
    /* Forms */
        /* Contenedor Principal */
            .contenedor{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                background-color: rgb(64, 63, 105);
            }
            .atencion{
                width: 80%;
                height: auto;
                background-color: beige;
            }